# Node modules
node_modules/

# Next.js build outputs
.next/
out/

# Log files
*.log

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# Videos or other large media (track with LFS instead)
public/videos/*.mp4
.vercel
